.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 545px) {
  .container {
    padding: 0 8%;
  }
}
@media (min-width: 752px) {
  .container {
    width: 720px;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
    padding: 0;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
  content: "\2a";
}

.glyphicon-plus:before {
  content: "\2b";
}

.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}

.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon-cloud:before {
  content: "\2601";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-glass:before {
  content: "\e001";
}

.glyphicon-music:before {
  content: "\e002";
}

.glyphicon-search:before {
  content: "\e003";
}

.glyphicon-heart:before {
  content: "\e005";
}

.glyphicon-star:before {
  content: "\e006";
}

.glyphicon-star-empty:before {
  content: "\e007";
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-film:before {
  content: "\e009";
}

.glyphicon-th-large:before {
  content: "\e010";
}

.glyphicon-th:before {
  content: "\e011";
}

.glyphicon-th-list:before {
  content: "\e012";
}

.glyphicon-ok:before {
  content: "\e013";
}

.glyphicon-remove:before {
  content: "\e014";
}

.glyphicon-zoom-in:before {
  content: "\e015";
}

.glyphicon-zoom-out:before {
  content: "\e016";
}

.glyphicon-off:before {
  content: "\e017";
}

.glyphicon-signal:before {
  content: "\e018";
}

.glyphicon-cog:before {
  content: "\e019";
}

.glyphicon-trash:before {
  content: "\e020";
}

.glyphicon-home:before {
  content: "\e021";
}

.glyphicon-file:before {
  content: "\e022";
}

.glyphicon-time:before {
  content: "\e023";
}

.glyphicon-road:before {
  content: "\e024";
}

.glyphicon-download-alt:before {
  content: "\e025";
}

.glyphicon-download:before {
  content: "\e026";
}

.glyphicon-upload:before {
  content: "\e027";
}

.glyphicon-inbox:before {
  content: "\e028";
}

.glyphicon-play-circle:before {
  content: "\e029";
}

.glyphicon-repeat:before {
  content: "\e030";
}

.glyphicon-refresh:before {
  content: "\e031";
}

.glyphicon-list-alt:before {
  content: "\e032";
}

.glyphicon-lock:before {
  content: "\e033";
}

.glyphicon-flag:before {
  content: "\e034";
}

.glyphicon-headphones:before {
  content: "\e035";
}

.glyphicon-volume-off:before {
  content: "\e036";
}

.glyphicon-volume-down:before {
  content: "\e037";
}

.glyphicon-volume-up:before {
  content: "\e038";
}

.glyphicon-qrcode:before {
  content: "\e039";
}

.glyphicon-barcode:before {
  content: "\e040";
}

.glyphicon-tag:before {
  content: "\e041";
}

.glyphicon-tags:before {
  content: "\e042";
}

.glyphicon-book:before {
  content: "\e043";
}

.glyphicon-bookmark:before {
  content: "\e044";
}

.glyphicon-print:before {
  content: "\e045";
}

.glyphicon-camera:before {
  content: "\e046";
}

.glyphicon-font:before {
  content: "\e047";
}

.glyphicon-bold:before {
  content: "\e048";
}

.glyphicon-italic:before {
  content: "\e049";
}

.glyphicon-text-height:before {
  content: "\e050";
}

.glyphicon-text-width:before {
  content: "\e051";
}

.glyphicon-align-left:before {
  content: "\e052";
}

.glyphicon-align-center:before {
  content: "\e053";
}

.glyphicon-align-right:before {
  content: "\e054";
}

.glyphicon-align-justify:before {
  content: "\e055";
}

.glyphicon-list:before {
  content: "\e056";
}

.glyphicon-indent-left:before {
  content: "\e057";
}

.glyphicon-indent-right:before {
  content: "\e058";
}

.glyphicon-facetime-video:before {
  content: "\e059";
}

.glyphicon-picture:before {
  content: "\e060";
}

.glyphicon-map-marker:before {
  content: "\e062";
}

.glyphicon-adjust:before {
  content: "\e063";
}

.glyphicon-tint:before {
  content: "\e064";
}

.glyphicon-edit:before {
  content: "\e065";
}

.glyphicon-share:before {
  content: "\e066";
}

.glyphicon-check:before {
  content: "\e067";
}

.glyphicon-move:before {
  content: "\e068";
}

.glyphicon-step-backward:before {
  content: "\e069";
}

.glyphicon-fast-backward:before {
  content: "\e070";
}

.glyphicon-backward:before {
  content: "\e071";
}

.glyphicon-play:before {
  content: "\e072";
}

.glyphicon-pause:before {
  content: "\e073";
}

.glyphicon-stop:before {
  content: "\e074";
}

.glyphicon-forward:before {
  content: "\e075";
}

.glyphicon-fast-forward:before {
  content: "\e076";
}

.glyphicon-step-forward:before {
  content: "\e077";
}

.glyphicon-eject:before {
  content: "\e078";
}

.glyphicon-chevron-left:before {
  content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}

.glyphicon-plus-sign:before {
  content: "\e081";
}

.glyphicon-minus-sign:before {
  content: "\e082";
}

.glyphicon-remove-sign:before {
  content: "\e083";
}

.glyphicon-ok-sign:before {
  content: "\e084";
}

.glyphicon-question-sign:before {
  content: "\e085";
}

.glyphicon-info-sign:before {
  content: "\e086";
}

.glyphicon-screenshot:before {
  content: "\e087";
}

.glyphicon-remove-circle:before {
  content: "\e088";
}

.glyphicon-ok-circle:before {
  content: "\e089";
}

.glyphicon-ban-circle:before {
  content: "\e090";
}

.glyphicon-arrow-left:before {
  content: "\e091";
}

.glyphicon-arrow-right:before {
  content: "\e092";
}

.glyphicon-arrow-up:before {
  content: "\e093";
}

.glyphicon-arrow-down:before {
  content: "\e094";
}

.glyphicon-share-alt:before {
  content: "\e095";
}

.glyphicon-resize-full:before {
  content: "\e096";
}

.glyphicon-resize-small:before {
  content: "\e097";
}

.glyphicon-exclamation-sign:before {
  content: "\e101";
}

.glyphicon-gift:before {
  content: "\e102";
}

.glyphicon-leaf:before {
  content: "\e103";
}

.glyphicon-fire:before {
  content: "\e104";
}

.glyphicon-eye-open:before {
  content: "\e105";
}

.glyphicon-eye-close:before {
  content: "\e106";
}

.glyphicon-warning-sign:before {
  content: "\e107";
}

.glyphicon-plane:before {
  content: "\e108";
}

.glyphicon-calendar:before {
  content: "\e109";
}

.glyphicon-random:before {
  content: "\e110";
}

.glyphicon-comment:before {
  content: "\e111";
}

.glyphicon-magnet:before {
  content: "\e112";
}

.glyphicon-chevron-up:before {
  content: "\e113";
}

.glyphicon-chevron-down:before {
  content: "\e114";
}

.glyphicon-retweet:before {
  content: "\e115";
}

.glyphicon-shopping-cart:before {
  content: "\e116";
}

.glyphicon-folder-close:before {
  content: "\e117";
}

.glyphicon-folder-open:before {
  content: "\e118";
}

.glyphicon-resize-vertical:before {
  content: "\e119";
}

.glyphicon-resize-horizontal:before {
  content: "\e120";
}

.glyphicon-hdd:before {
  content: "\e121";
}

.glyphicon-bullhorn:before {
  content: "\e122";
}

.glyphicon-bell:before {
  content: "\e123";
}

.glyphicon-certificate:before {
  content: "\e124";
}

.glyphicon-thumbs-up:before {
  content: "\e125";
}

.glyphicon-thumbs-down:before {
  content: "\e126";
}

.glyphicon-hand-right:before {
  content: "\e127";
}

.glyphicon-hand-left:before {
  content: "\e128";
}

.glyphicon-hand-up:before {
  content: "\e129";
}

.glyphicon-hand-down:before {
  content: "\e130";
}

.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

.glyphicon-globe:before {
  content: "\e135";
}

.glyphicon-wrench:before {
  content: "\e136";
}

.glyphicon-tasks:before {
  content: "\e137";
}

.glyphicon-filter:before {
  content: "\e138";
}

.glyphicon-briefcase:before {
  content: "\e139";
}

.glyphicon-fullscreen:before {
  content: "\e140";
}

.glyphicon-dashboard:before {
  content: "\e141";
}

.glyphicon-paperclip:before {
  content: "\e142";
}

.glyphicon-heart-empty:before {
  content: "\e143";
}

.glyphicon-link:before {
  content: "\e144";
}

.glyphicon-phone:before {
  content: "\e145";
}

.glyphicon-pushpin:before {
  content: "\e146";
}

.glyphicon-usd:before {
  content: "\e148";
}

.glyphicon-gbp:before {
  content: "\e149";
}

.glyphicon-sort:before {
  content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

.glyphicon-sort-by-order:before {
  content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

.glyphicon-unchecked:before {
  content: "\e157";
}

.glyphicon-expand:before {
  content: "\e158";
}

.glyphicon-collapse-down:before {
  content: "\e159";
}

.glyphicon-collapse-up:before {
  content: "\e160";
}

.glyphicon-log-in:before {
  content: "\e161";
}

.glyphicon-flash:before {
  content: "\e162";
}

.glyphicon-log-out:before {
  content: "\e163";
}

.glyphicon-new-window:before {
  content: "\e164";
}

.glyphicon-record:before {
  content: "\e165";
}

.glyphicon-save:before {
  content: "\e166";
}

.glyphicon-open:before {
  content: "\e167";
}

.glyphicon-saved:before {
  content: "\e168";
}

.glyphicon-import:before {
  content: "\e169";
}

.glyphicon-export:before {
  content: "\e170";
}

.glyphicon-send:before {
  content: "\e171";
}

.glyphicon-floppy-disk:before {
  content: "\e172";
}

.glyphicon-floppy-saved:before {
  content: "\e173";
}

.glyphicon-floppy-remove:before {
  content: "\e174";
}

.glyphicon-floppy-save:before {
  content: "\e175";
}

.glyphicon-floppy-open:before {
  content: "\e176";
}

.glyphicon-credit-card:before {
  content: "\e177";
}

.glyphicon-transfer:before {
  content: "\e178";
}

.glyphicon-cutlery:before {
  content: "\e179";
}

.glyphicon-header:before {
  content: "\e180";
}

.glyphicon-compressed:before {
  content: "\e181";
}

.glyphicon-earphone:before {
  content: "\e182";
}

.glyphicon-phone-alt:before {
  content: "\e183";
}

.glyphicon-tower:before {
  content: "\e184";
}

.glyphicon-stats:before {
  content: "\e185";
}

.glyphicon-sd-video:before {
  content: "\e186";
}

.glyphicon-hd-video:before {
  content: "\e187";
}

.glyphicon-subtitles:before {
  content: "\e188";
}

.glyphicon-sound-stereo:before {
  content: "\e189";
}

.glyphicon-sound-dolby:before {
  content: "\e190";
}

.glyphicon-sound-5-1:before {
  content: "\e191";
}

.glyphicon-sound-6-1:before {
  content: "\e192";
}

.glyphicon-sound-7-1:before {
  content: "\e193";
}

.glyphicon-copyright-mark:before {
  content: "\e194";
}

.glyphicon-registration-mark:before {
  content: "\e195";
}

.glyphicon-cloud-download:before {
  content: "\e197";
}

.glyphicon-cloud-upload:before {
  content: "\e198";
}

.glyphicon-tree-conifer:before {
  content: "\e199";
}

.glyphicon-tree-deciduous:before {
  content: "\e200";
}

.glyphicon-cd:before {
  content: "\e201";
}

.glyphicon-save-file:before {
  content: "\e202";
}

.glyphicon-open-file:before {
  content: "\e203";
}

.glyphicon-level-up:before {
  content: "\e204";
}

.glyphicon-copy:before {
  content: "\e205";
}

.glyphicon-paste:before {
  content: "\e206";
}

.glyphicon-alert:before {
  content: "\e209";
}

.glyphicon-equalizer:before {
  content: "\e210";
}

.glyphicon-king:before {
  content: "\e211";
}

.glyphicon-queen:before {
  content: "\e212";
}

.glyphicon-pawn:before {
  content: "\e213";
}

.glyphicon-bishop:before {
  content: "\e214";
}

.glyphicon-knight:before {
  content: "\e215";
}

.glyphicon-baby-formula:before {
  content: "\e216";
}

.glyphicon-tent:before {
  content: "\26fa";
}

.glyphicon-blackboard:before {
  content: "\e218";
}

.glyphicon-bed:before {
  content: "\e219";
}

.glyphicon-apple:before {
  content: "\f8ff";
}

.glyphicon-erase:before {
  content: "\e221";
}

.glyphicon-hourglass:before {
  content: "\231b";
}

.glyphicon-lamp:before {
  content: "\e223";
}

.glyphicon-duplicate:before {
  content: "\e224";
}

.glyphicon-piggy-bank:before {
  content: "\e225";
}

.glyphicon-scissors:before {
  content: "\e226";
}

.glyphicon-bitcoin:before {
  content: "\e227";
}

.glyphicon-btc:before {
  content: "\e227";
}

.glyphicon-xbt:before {
  content: "\e227";
}

.glyphicon-yen:before {
  content: "\00a5";
}

.glyphicon-jpy:before {
  content: "\00a5";
}

.glyphicon-ruble:before {
  content: "\20bd";
}

.glyphicon-rub:before {
  content: "\20bd";
}

.glyphicon-scale:before {
  content: "\e230";
}

.glyphicon-ice-lolly:before {
  content: "\e231";
}

.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}

.glyphicon-education:before {
  content: "\e233";
}

.glyphicon-option-horizontal:before {
  content: "\e234";
}

.glyphicon-option-vertical:before {
  content: "\e235";
}

.glyphicon-menu-hamburger:before {
  content: "\e236";
}

.glyphicon-modal-window:before {
  content: "\e237";
}

.glyphicon-oil:before {
  content: "\e238";
}

.glyphicon-grain:before {
  content: "\e239";
}

.glyphicon-sunglasses:before {
  content: "\e240";
}

.glyphicon-text-size:before {
  content: "\e241";
}

.glyphicon-text-color:before {
  content: "\e242";
}

.glyphicon-text-background:before {
  content: "\e243";
}

.glyphicon-object-align-top:before {
  content: "\e244";
}

.glyphicon-object-align-bottom:before {
  content: "\e245";
}

.glyphicon-object-align-horizontal:before {
  content: "\e246";
}

.glyphicon-object-align-left:before {
  content: "\e247";
}

.glyphicon-object-align-vertical:before {
  content: "\e248";
}

.glyphicon-object-align-right:before {
  content: "\e249";
}

.glyphicon-triangle-right:before {
  content: "\e250";
}

.glyphicon-triangle-left:before {
  content: "\e251";
}

.glyphicon-triangle-bottom:before {
  content: "\e252";
}

.glyphicon-triangle-top:before {
  content: "\e253";
}

.glyphicon-console:before {
  content: "\e254";
}

.glyphicon-superscript:before {
  content: "\e255";
}

.glyphicon-subscript:before {
  content: "\e256";
}

.glyphicon-menu-left:before {
  content: "\e257";
}

.glyphicon-menu-right:before {
  content: "\e258";
}

.glyphicon-menu-down:before {
  content: "\e259";
}

.glyphicon-menu-up:before {
  content: "\e260";
}

.glyphicon-asterisk:before {
  content: "\2a";
}

.glyphicon-plus:before {
  content: "\2b";
}

.glyphicon-euro:before {
  content: "\20ac";
}

.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon-cloud:before {
  content: "\2601";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-glass:before {
  content: "\e001";
}

.glyphicon-music:before {
  content: "\e002";
}

.glyphicon-search:before {
  content: "\e003";
}

.glyphicon-heart:before {
  content: "\e005";
}

.glyphicon-star:before {
  content: "\e006";
}

.glyphicon-star-empty:before {
  content: "\e007";
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-film:before {
  content: "\e009";
}

.glyphicon-th-large:before {
  content: "\e010";
}

.glyphicon-th:before {
  content: "\e011";
}

.glyphicon-th-list:before {
  content: "\e012";
}

.glyphicon-ok:before {
  content: "\e013";
}

.glyphicon-remove:before {
  content: "\e014";
}

.glyphicon-zoom-in:before {
  content: "\e015";
}

.glyphicon-zoom-out:before {
  content: "\e016";
}

.glyphicon-off:before {
  content: "\e017";
}

.glyphicon-signal:before {
  content: "\e018";
}

.glyphicon-cog:before {
  content: "\e019";
}

.glyphicon-trash:before {
  content: "\e020";
}

.glyphicon-home:before {
  content: "\e021";
}

.glyphicon-file:before {
  content: "\e022";
}

.glyphicon-time:before {
  content: "\e023";
}

.glyphicon-road:before {
  content: "\e024";
}

.glyphicon-download-alt:before {
  content: "\e025";
}

.glyphicon-download:before {
  content: "\e026";
}

.glyphicon-upload:before {
  content: "\e027";
}

.glyphicon-inbox:before {
  content: "\e028";
}

.glyphicon-play-circle:before {
  content: "\e029";
}

.glyphicon-repeat:before {
  content: "\e030";
}

.glyphicon-refresh:before {
  content: "\e031";
}

.glyphicon-list-alt:before {
  content: "\e032";
}

.glyphicon-lock:before {
  content: "\e033";
}

.glyphicon-flag:before {
  content: "\e034";
}

.glyphicon-headphones:before {
  content: "\e035";
}

.glyphicon-volume-off:before {
  content: "\e036";
}

.glyphicon-volume-down:before {
  content: "\e037";
}

.glyphicon-volume-up:before {
  content: "\e038";
}

.glyphicon-qrcode:before {
  content: "\e039";
}

.glyphicon-barcode:before {
  content: "\e040";
}

.glyphicon-tag:before {
  content: "\e041";
}

.glyphicon-tags:before {
  content: "\e042";
}

.glyphicon-book:before {
  content: "\e043";
}

.glyphicon-bookmark:before {
  content: "\e044";
}

.glyphicon-print:before {
  content: "\e045";
}

.glyphicon-camera:before {
  content: "\e046";
}

.glyphicon-font:before {
  content: "\e047";
}

.glyphicon-bold:before {
  content: "\e048";
}

.glyphicon-italic:before {
  content: "\e049";
}

.glyphicon-text-height:before {
  content: "\e050";
}

.glyphicon-text-width:before {
  content: "\e051";
}

.glyphicon-align-left:before {
  content: "\e052";
}

.glyphicon-align-center:before {
  content: "\e053";
}

.glyphicon-align-right:before {
  content: "\e054";
}

.glyphicon-align-justify:before {
  content: "\e055";
}

.glyphicon-list:before {
  content: "\e056";
}

.glyphicon-indent-left:before {
  content: "\e057";
}

.glyphicon-indent-right:before {
  content: "\e058";
}

.glyphicon-facetime-video:before {
  content: "\e059";
}

.glyphicon-picture:before {
  content: "\e060";
}

.glyphicon-map-marker:before {
  content: "\e062";
}

.glyphicon-adjust:before {
  content: "\e063";
}

.glyphicon-tint:before {
  content: "\e064";
}

.glyphicon-edit:before {
  content: "\e065";
}

.glyphicon-share:before {
  content: "\e066";
}

.glyphicon-check:before {
  content: "\e067";
}

.glyphicon-move:before {
  content: "\e068";
}

.glyphicon-step-backward:before {
  content: "\e069";
}

.glyphicon-fast-backward:before {
  content: "\e070";
}

.glyphicon-backward:before {
  content: "\e071";
}

.glyphicon-play:before {
  content: "\e072";
}

.glyphicon-pause:before {
  content: "\e073";
}

.glyphicon-stop:before {
  content: "\e074";
}

.glyphicon-forward:before {
  content: "\e075";
}

.glyphicon-fast-forward:before {
  content: "\e076";
}

.glyphicon-step-forward:before {
  content: "\e077";
}

.glyphicon-eject:before {
  content: "\e078";
}

.glyphicon-chevron-left:before {
  content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}

.glyphicon-plus-sign:before {
  content: "\e081";
}

.glyphicon-minus-sign:before {
  content: "\e082";
}

.glyphicon-remove-sign:before {
  content: "\e083";
}

.glyphicon-ok-sign:before {
  content: "\e084";
}

.glyphicon-question-sign:before {
  content: "\e085";
}

.glyphicon-info-sign:before {
  content: "\e086";
}

.glyphicon-screenshot:before {
  content: "\e087";
}

.glyphicon-remove-circle:before {
  content: "\e088";
}

.glyphicon-ok-circle:before {
  content: "\e089";
}

.glyphicon-ban-circle:before {
  content: "\e090";
}

.glyphicon-arrow-left:before {
  content: "\e091";
}

.glyphicon-arrow-right:before {
  content: "\e092";
}

.glyphicon-arrow-up:before {
  content: "\e093";
}

.glyphicon-arrow-down:before {
  content: "\e094";
}

.glyphicon-share-alt:before {
  content: "\e095";
}

.glyphicon-resize-full:before {
  content: "\e096";
}

.glyphicon-resize-small:before {
  content: "\e097";
}

.glyphicon-exclamation-sign:before {
  content: "\e101";
}

.glyphicon-gift:before {
  content: "\e102";
}

.glyphicon-leaf:before {
  content: "\e103";
}

.glyphicon-fire:before {
  content: "\e104";
}

.glyphicon-eye-open:before {
  content: "\e105";
}

.glyphicon-eye-close:before {
  content: "\e106";
}

.glyphicon-warning-sign:before {
  content: "\e107";
}

.glyphicon-plane:before {
  content: "\e108";
}

.glyphicon-calendar:before {
  content: "\e109";
}

.glyphicon-random:before {
  content: "\e110";
}

.glyphicon-comment:before {
  content: "\e111";
}

.glyphicon-magnet:before {
  content: "\e112";
}

.glyphicon-chevron-up:before {
  content: "\e113";
}

.glyphicon-chevron-down:before {
  content: "\e114";
}

.glyphicon-retweet:before {
  content: "\e115";
}

.glyphicon-shopping-cart:before {
  content: "\e116";
}

.glyphicon-folder-close:before {
  content: "\e117";
}

.glyphicon-folder-open:before {
  content: "\e118";
}

.glyphicon-resize-vertical:before {
  content: "\e119";
}

.glyphicon-resize-horizontal:before {
  content: "\e120";
}

.glyphicon-hdd:before {
  content: "\e121";
}

.glyphicon-bullhorn:before {
  content: "\e122";
}

.glyphicon-bell:before {
  content: "\e123";
}

.glyphicon-certificate:before {
  content: "\e124";
}

.glyphicon-thumbs-up:before {
  content: "\e125";
}

.glyphicon-thumbs-down:before {
  content: "\e126";
}

.glyphicon-hand-right:before {
  content: "\e127";
}

.glyphicon-hand-left:before {
  content: "\e128";
}

.glyphicon-hand-up:before {
  content: "\e129";
}

.glyphicon-hand-down:before {
  content: "\e130";
}

.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

.glyphicon-globe:before {
  content: "\e135";
}

.glyphicon-wrench:before {
  content: "\e136";
}

.glyphicon-tasks:before {
  content: "\e137";
}

.glyphicon-filter:before {
  content: "\e138";
}

.glyphicon-briefcase:before {
  content: "\e139";
}

.glyphicon-fullscreen:before {
  content: "\e140";
}

.glyphicon-dashboard:before {
  content: "\e141";
}

.glyphicon-paperclip:before {
  content: "\e142";
}

.glyphicon-heart-empty:before {
  content: "\e143";
}

.glyphicon-link:before {
  content: "\e144";
}

.glyphicon-phone:before {
  content: "\e145";
}

.glyphicon-pushpin:before {
  content: "\e146";
}

.glyphicon-usd:before {
  content: "\e148";
}

.glyphicon-gbp:before {
  content: "\e149";
}

.glyphicon-sort:before {
  content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

.glyphicon-sort-by-order:before {
  content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

.glyphicon-unchecked:before {
  content: "\e157";
}

.glyphicon-expand:before {
  content: "\e158";
}

.glyphicon-collapse-down:before {
  content: "\e159";
}

.glyphicon-collapse-up:before {
  content: "\e160";
}

.glyphicon-log-in:before {
  content: "\e161";
}

.glyphicon-flash:before {
  content: "\e162";
}

.glyphicon-log-out:before {
  content: "\e163";
}

.glyphicon-new-window:before {
  content: "\e164";
}

.glyphicon-record:before {
  content: "\e165";
}

.glyphicon-save:before {
  content: "\e166";
}

.glyphicon-open:before {
  content: "\e167";
}

.glyphicon-saved:before {
  content: "\e168";
}

.glyphicon-import:before {
  content: "\e169";
}

.glyphicon-export:before {
  content: "\e170";
}

.glyphicon-send:before {
  content: "\e171";
}

.glyphicon-floppy-disk:before {
  content: "\e172";
}

.glyphicon-floppy-saved:before {
  content: "\e173";
}

.glyphicon-floppy-remove:before {
  content: "\e174";
}

.glyphicon-floppy-save:before {
  content: "\e175";
}

.glyphicon-floppy-open:before {
  content: "\e176";
}

.glyphicon-credit-card:before {
  content: "\e177";
}

.glyphicon-transfer:before {
  content: "\e178";
}

.glyphicon-cutlery:before {
  content: "\e179";
}

.glyphicon-header:before {
  content: "\e180";
}

.glyphicon-compressed:before {
  content: "\e181";
}

.glyphicon-earphone:before {
  content: "\e182";
}

.glyphicon-phone-alt:before {
  content: "\e183";
}

.glyphicon-tower:before {
  content: "\e184";
}

.glyphicon-stats:before {
  content: "\e185";
}

.glyphicon-sd-video:before {
  content: "\e186";
}

.glyphicon-hd-video:before {
  content: "\e187";
}

.glyphicon-subtitles:before {
  content: "\e188";
}

.glyphicon-sound-stereo:before {
  content: "\e189";
}

.glyphicon-sound-dolby:before {
  content: "\e190";
}

.glyphicon-sound-5-1:before {
  content: "\e191";
}

.glyphicon-sound-6-1:before {
  content: "\e192";
}

.glyphicon-sound-7-1:before {
  content: "\e193";
}

.glyphicon-copyright-mark:before {
  content: "\e194";
}

.glyphicon-registration-mark:before {
  content: "\e195";
}

.glyphicon-cloud-download:before {
  content: "\e197";
}

.glyphicon-cloud-upload:before {
  content: "\e198";
}

.glyphicon-tree-conifer:before {
  content: "\e199";
}

.glyphicon-tree-deciduous:before {
  content: "\e200";
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
}
@media (min-width: 752px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  color: #50504D;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
h2.large {
  font-size: 42px;
}

h3 {
  color: #50504D;
  font-size: 16px;
  font-style: normal;
  font-family: "Georgia", Helvetica, Arial;
  font-weight: normal;
  line-height: 1.4em;
}
@media (min-width: 752px) {
  h3 {
    font-size: 22px;
    line-height: 32px;
  }
  h3.skinny {
    padding: 0 12%;
  }
}

h4 {
  color: #50504D;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", Helvetica, Arial;
  font-style: italic;
  font-size: 12px;
  line-height: 1.6em;
  color: #585855;
  background-color: #EBEBEB;
  padding-top: 100px;
  position: relative;
}
body.menu-open {
  overflow: hidden;
}
@media (min-width: 752px) {
  body {
    font-size: 13px;
    line-height: 2em;
    padding: 0;
  }
}

.btn {
  display: inline-block;
  color: #585855;
  border: 1px solid #585855;
  background: transparent;
  border-radius: 4px;
  text-decoration: none;
  font-size: 11px;
  font-family: "Helvetic Neue", Helvetica, Arial;
  font-style: normal;
  text-transform: uppercase;
  padding: 5px 20px 3px;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.btn.btn-white {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.btn.active, .btn:active, .btn:hover, .btn:focus {
  color: #FFFFFF;
  border-color: #669AC9;
  background: #669AC9;
}

@media (min-width: 752px) {
  .multi-col {
    padding: 0px 8%;
  }
  .multi-col.two-col {
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
  }
}

.section {
  padding: 30px 0;
}
.section:after {
  content: " ";
  display: block;
  clear: both;
}
.section.section-bleed, .section.section-hero {
  padding: 0;
}

.section-title {
  text-align: center;
  position: relative;
}
.section-title:after {
  display: block;
  content: "";
  width: 50px;
  margin: 0.83em auto 0;
  border-bottom: 4px solid #669AC9;
}

.right {
  float: right;
}

.left {
  float: left;
}

.valign-block {
  height: 100%;
}
.valign-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.valign-centered {
  display: inline-block;
  vertical-align: middle;
}

.sticky {
  position: fixed;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;
}

.social-links {
  display: block;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.social-links li {
  margin: 0;
  padding: 0 10px;
  display: inline-block;
}
.social-links a {
  color: #50504D;
  text-decoration: none;
}
.social-links a:hover {
  color: #669AC9;
}
.social-links a:hover i {
  border: 1px solid #669AC9;
}
.social-links i {
  font-size: 20px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #50504D;
  border-radius: 20px;
}

.form .form-group {
  margin-bottom: 10px;
  vertical-align: middle;
}
.form .form-group:nth-child(even) {
  margin-right: 0;
}
.form .form-group.block {
  display: block;
  width: 100%;
}
.form .form-group.block .form-control {
  width: 100%;
}
.form .form-label {
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.form .form-control {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  resize: none;
}
.form .form-submit {
  clear: both;
  text-align: center;
}
@media (min-width: 545px) {
  .form .form-submit {
    text-align: right;
    position: relative;
  }
}
@media (min-width: 752px) {
  .form .form-group {
    float: left;
    width: 50%;
  }
  .form .form-group:nth-child(even) .form-control {
    float: right;
  }
  .form .form-control {
    width: 95%;
  }
}

#form-message {
  height: 30px;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
@media (min-width: 545px) {
  #form-message {
    position: absolute;
    padding-top: 6px;
  }
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s;
  -moz-transition: height 0.35s;
  -ms-transition: height 0.35s;
  -o-transition: height 0.35s;
  transition: height 0.35s;
}

.panel {
  border-bottom: 3px solid #EBEBEB;
}

.panel-body {
  padding: 0px 25px 18px;
  background: #FFFFFF;
  height: 100%;
  border-left: 2px solid #669AC9;
}

.panel-heading > a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5em;
  color: #669AC9;
  cursor: default;
  background-color: #FFFFFF;
  border-left: 2px solid #669AC9;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.panel-heading > a.collapsed {
  color: #50504D;
  background: #D7D7D7;
  border-left: 2px solid #D7D7D7;
}
.panel-heading > a.collapsed:hover {
  color: #FFFFFF;
  background-color: #669AC9;
  border-left: 2px solid #669AC9;
}

.panel-title {
  padding: 0;
  margin: 0;
  display: none;
}
.panel-title .icon {
  float: left;
  height: 35px;
  padding-right: 10px;
}
.panel-title .icon img {
  height: 100%;
}
.panel-title .fa {
  padding-right: 8px;
}
.panel-title .glyphicon {
  font-size: 18px;
  padding-right: 10px;
}

.panel-content {
  margin: 0;
  clear: both;
}

@media (min-width: 752px) {
  .panel {
    border: none;
  }

  .panel-group {
    position: relative;
  }
  .panel-group .panel:last-child .panel-heading {
    border-bottom: 0;
  }

  .panel-heading {
    width: 30%;
    border-bottom: 3px solid #EBEBEB;
  }
  .panel-heading > a {
    border-left: 2px solid #669AC9;
  }

  .panel-collapse {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100% !important;
    min-height: 100% !important;
  }

  .panel-body {
    padding: 10px 30px;
    border: none;
  }

  .panel-title {
    display: block;
  }
}
#header {
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  padding: 26px 0;
  position: fixed;
  top: 0;
  z-index: 500;
  border-bottom: 1px solid #D7D7D7;
}
#header .container {
  height: 100%;
}
#header .menu-toggle {
  float: right;
  margin: 10px 0 0 0;
  padding: 4px 10px 3px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #585855;
  border-radius: 4px;
  opacity: .90;
  z-index: 501;
}
#header .menu-toggle i {
  font-size: 1.5em;
}
@media (min-width: 545px) {
  #header {
    padding: 20px 0;
  }
  #header .menu-toggle {
    margin-top: 15px;
  }
}
@media (min-width: 752px) {
  #header {
    position: relative;
    padding: 23px 0;
    border: none;
  }
  #header .menu-toggle {
    display: none;
  }
}
@media (min-width: 992px) {
  #header {
    padding: 18px 0;
  }
}

#lrgr-logo {
  float: left;
  height: 100%;
  z-index: 501;
}
#lrgr-logo img {
  height: 100%;
}

#site-nav {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 100%;
  padding-top: 100px;
  top: 0;
  z-index: 500;
  pointer-events: none;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
#site-nav .nav-inner {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: initial;
  background: #EBEBEB;
}
#site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #EBEBEB;
}
#site-nav li {
  position: relative;
  padding: 0;
  display: block;
  border-bottom: 1px solid #D7D7D7;
}
#site-nav li:last-child {
  border: none;
}
#site-nav a {
  display: block;
  text-decoration: none;
  color: #50504D;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 15px 30px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
#site-nav a.active, #site-nav a:hover, #site-nav a:focus, #site-nav a:active {
  color: #669AC9;
}
#site-nav .fa {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 16px 25px;
  text-align: center;
  font-size: 18px;
  color: #669AC9;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
#site-nav .fa.collapsed {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#site-nav .subnav {
  height: auto;
}
#site-nav .subnav li {
  border-color: #497398;
}
#site-nav .subnav a {
  color: #FFFFFF;
  padding-left: 55px;
  font-size: 12px;
  background: #669AC9;
}
#site-nav .subnav a:hover {
  background: #497398;
}
#site-nav.active {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
@media (min-width: 752px) {
  #site-nav {
    position: static;
    width: auto;
    height: auto;
    padding-top: 0;
    float: right;
    pointer-events: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #site-nav .nav-inner {
    height: auto;
    width: auto;
    border: none;
    overflow: initial;
    background: none;
  }
  #site-nav ul {
    margin: 0;
    background: 0;
    height: auto;
  }
  #site-nav li {
    display: inline-block;
    padding: 15px 0 0 25px;
    border: none;
  }
  #site-nav a {
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }
  #site-nav .fa {
    display: none;
  }
  #site-nav .subnav {
    display: none;
  }
  #site-nav.active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media (min-width: 992px) {
  #site-nav li {
    padding: 20px 0 0 50px;
  }
}

footer {
  clear: both;
  margin: 0 0 0 0;
  background: #FFFFFF;
}
footer:after {
  content: " ";
  display: block;
  clear: both;
}
footer .get-in-touch {
  padding: 30px 30px;
  text-align: center;
}
@media (min-width: 545px) and (max-width: 752px) {
  footer .get-in-touch {
    padding: 0 10px;
  }
}
footer .bg-image {
  background: none;
}
footer .bg-image img {
  padding-bottom: 20px;
}
footer img {
  width: 100%;
  height: auto;
  float: left;
}
footer .legal {
  font-size: 10px;
  font-style: normal;
}
@media (min-width: 545px) {
  footer {
    position: relative;
    padding-left: 50%;
  }
  footer .get-in-touch {
    text-align: center;
  }
  footer .bg-image {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    background-size: auto 100%;
    background-size: cover;
    background-position: center;
  }
  footer .bg-image img {
    display: none;
    padding: 0;
  }
}

.slick-slider .slide {
  position: relative;
  min-height: 100%;
}
.slick-slider .slick-prev, .slick-slider .slick-next {
  width: 30px;
  height: 50px;
  font-size: 2em;
  pointer-events: initial;
}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
  font: normal normal normal 2.5em FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-slider .slick-prev:hover:before, .slick-slider .slick-next:hover:before {
  color: #669AC9;
}
.slick-slider .carousel-buttons {
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}
@media (min-width: 752px) {
  .slick-slider .carousel-buttons {
    display: block;
  }
}
.slick-slider .slick-next {
  float: right;
  right: 0px;
}
.slick-slider .slick-next:before {
  content: "\f105";
}
.slick-slider .slick-prev {
  float: left;
  left: 0px;
}
.slick-slider .slick-prev:before {
  content: "\f104";
}
.slick-slider .slick-dots {
  bottom: -42px;
}
.slick-slider .slick-dots li, .slick-slider .slick-dots li button {
  width: 15px;
  height: 15px;
}
.slick-slider .slick-dots li {
  margin: 0 10px;
}
.slick-slider .slick-dots li button {
  border-radius: 20px;
  border: 1px solid #669AC9;
}
.slick-slider .slick-dots li button:before {
  display: none;
}
.slick-slider .slick-dots li.slick-active button {
  background: #669AC9;
  border-color: #669AC9;
}
@media (min-width: 992px) {
  .slick-slider .slick-dots {
    bottom: 8%;
  }
  .slick-slider .slick-dots li button {
    border-color: #FFFFFF;
  }
}

.section-hero {
  position: relative;
}
.section-hero .hero-content {
  position: absolute;
  text-align: center;
  color: #FFFFFF;
  padding: 0 25px;
  height: 100%;
  width: 100%;
}
.section-hero .hero-content p {
  margin: 20px 0 25px;
  font-size: 1.1em;
}
@media (min-width: 752px) {
  .section-hero .hero-content {
    padding: 0;
  }
  .section-hero .hero-content p {
    padding: 0 50px 20px;
  }
}
.section-hero .hero-background {
  overflow: hidden;
  top: 0;
  height: 120px;
  z-index: -1;
  background-size: auto 100%;
  background-position: center;
  pointer-events: none;
}
.section-hero .hero-background img {
  display: block;
  height: 100%;
  opacity: 0;
}
@media (min-width: 545px) {
  .section-hero .hero-background {
    position: initial;
    height: auto;
    background: none;
  }
  .section-hero .hero-background img {
    width: 100%;
    opacity: 1;
  }
}
.section-hero .hero-carousel .hero-background {
  height: 320px;
}
@media (min-width: 545px) {
  .section-hero .hero-carousel .hero-background {
    height: auto;
  }
}

.tabpanel {
  background-color: #FFFFFF;
}
.tabpanel:after {
  content: " ";
  display: block;
  clear: both;
}

.nav-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 30%;
  float: left;
}
.nav-tabs:before, .nav-tabs:after {
  display: table;
  content: " ";
}
.nav-tabs:after {
  clear: both;
}
.nav-tabs > li {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 3px solid #EBEBEB;
}
.nav-tabs > li > a {
  line-height: 1.42857143;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #50504D;
  background: #D7D7D7;
  border-left: 2px solid #D7D7D7;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #669AC9;
  cursor: default;
  background-color: #FFFFFF;
  border-left: 2px solid #669AC9;
  border-bottom-color: transparent;
}
.nav-tabs > li:last-child {
  border-bottom: none;
}

.tab-content-container {
  width: 70%;
  float: left;
  padding: 10px 30px;
  background: #FFFFFF;
}
.tab-content-container .tab-title {
  padding: 0;
  margin: 0;
}
.tab-content-container > .tab-pane {
  display: none;
}
.tab-content-container > .active {
  display: block;
}

#member-nav-wrapper {
  height: 56px;
}

#member-nav {
  height: 56px;
  display: none;
  text-align: center;
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #EBEBEB;
}
#member-nav ul {
  padding: 0;
  margin: 0;
  float: none;
  width: 100%;
}
#member-nav li {
  float: none;
  width: auto;
  padding: 15px;
  display: inline-block;
  border: none;
}
#member-nav li:first-child {
  padding-left: 0 !important;
}
#member-nav li:last-child {
  padding-right: 0 !important;
}
#member-nav li.active a {
  color: #669AC9;
}
#member-nav a {
  text-decoration: none;
  color: #50504D;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: inherit;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
}
#member-nav a.active, #member-nav a:hover {
  color: #669AC9;
  border: none;
}
@media (min-width: 752px) {
  #member-nav {
    display: block;
  }
}
@media (min-width: 992px) {
  #member-nav li {
    padding: 15px 25px;
  }
  #member-nav a {
    font-size: 12px;
  }
}

.member-profile .overview {
  text-align: center;
}
.member-profile .overview .name {
  margin: 5px 0;
  font-size: 20px;
}
.member-profile .overview .role {
  margin: 0 0 20px 0;
  font-size: 16px;
  position: relative;
}
.member-profile .overview .role:after {
  display: block;
  content: "";
  width: 45px;
  margin: 0.83em auto 0;
  border-bottom: 3px solid #669AC9;
}
.member-profile .overview .photo {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
.member-profile .overview .photo img {
  height: 100%;
  margin-left: -25%;
}
.member-profile .bio {
  clear: both;
  line-height: 22px;
}
.member-profile .bio .title {
  margin: 30px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}
.member-profile .bio .title:first-child {
  margin-top: 0;
}
.member-profile .bio p {
  margin: 0;
  padding: 0;
}
.member-profile .education-list {
  margin: 0;
  padding: 0;
  padding: 0 0 0 25px;
}
.member-profile:nth-child(even) {
  background-color: #FFFFFF;
}
@media (min-width: 752px) {
  .member-profile .overview {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .member-profile .overview .name {
    margin: 0;
  }
  .member-profile .overview .photo {
    float: none;
    width: 220px;
    height: 220px;
  }
  .member-profile .overview .info {
    float: none;
    padding: 0;
  }
  .member-profile .bio {
    clear: none;
    width: 57.62712%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
}

#facts {
  text-align: center;
  padding: 30px 0 0;
}
@media (min-width: 752px) {
  #facts {
    padding: 30px 0;
  }
}
@media (min-width: 752px) {
  #facts .fact, #facts .divider {
    display: table-cell;
    float: left;
  }
}
@media (min-width: 992px) {
  #facts .fact, #facts .divider {
    float: none;
    display: inline-block;
  }
}
#facts .fact i.fa {
  font-size: 30px;
  color: #669AC9;
}
#facts .fact .count {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
}
#facts .fact .title {
  display: block;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 18px;
}
@media (min-width: 752px) {
  #facts .fact {
    width: 30%;
  }
}
@media (min-width: 992px) {
  #facts .fact {
    width: auto;
  }
}
#facts .divider {
  position: relative;
  height: 33px;
  margin: 15px 30px 0;
  border-top: 2px solid #FFFFFF;
}
@media (min-width: 752px) {
  #facts .divider {
    height: auto;
    border: none;
    margin: 15px 0 0 0;
    padding: 0 15px;
  }
  #facts .divider:before {
    color: #FFFFFF;
    content: "/";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 95px;
  }
}
@media (min-width: 752px) {
  #facts .divider {
    width: 5%;
  }
}
@media (min-width: 992px) {
  #facts .divider {
    width: auto;
    padding: 0 40px;
  }
  #facts .divider:before {
    position: relative;
  }
}

@media (min-width: 752px) {
  #who-we-are h3 {
    text-align: center;
  }
}
@media (min-width: 752px) {
  #who-we-are .multi-col {
    height: 300px;
  }
}
@media (min-width: 992px) {
  #who-we-are .multi-col {
    height: 250px;
  }
}

#what-we-do {
  padding-bottom: 60px;
}

.mission-list {
  padding: 10px 0 0;
  list-style: none;
}
.mission-list li {
  position: relative;
  margin: 20px 0 0 17px;
  line-height: 18px;
}
.mission-list li:before {
  content: '+';
  position: absolute;
  display: block;
  top: -1px;
  left: -15px;
  color: #669AC9;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

#leave-message {
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  #leave-message {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}

#get-in-touch {
  text-align: center;
}
#get-in-touch p {
  padding: 0 20px;
}
#get-in-touch .phone-numbers {
  width: 100%;
  margin: 15px auto 30px;
}
#get-in-touch .phone-numbers .phone-wrapper {
  display: inline-block;
  width: 100%;
  padding: 30px 0 0 0;
}
#get-in-touch .phone-numbers .phone-wrapper.img-wrapper {
  display: none;
}
#get-in-touch .phone-numbers .phone-wrapper.img-wrapper img {
  width: 35px;
  margin-bottom: -20px;
}
#get-in-touch .phone-numbers span {
  display: block;
}
#get-in-touch .phone-numbers .number {
  letter-spacing: 3px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
@media (min-width: 545px) {
  #get-in-touch .phone-numbers {
    max-width: 450px;
  }
  #get-in-touch .phone-numbers .phone-wrapper {
    width: 49%;
  }
  #get-in-touch .phone-numbers .phone-wrapper.img-wrapper {
    display: inline-block;
  }
}

#map-wrapper {
  position: relative;
}

#map-canvas {
  height: 500px;
  margin: 0px;
  padding: 0px;
}

#place-card {
  position: absolute;
  top: 35px;
  left: 45px;
  width: 80%;
  min-width: 250px;
  max-width: 300px;
  padding: 12px;
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-family: Roboto,Arial,sans-serif;
  text-decoration: none;
  font-style: normal;
}
#place-card .name {
  font-size: 16px;
  line-height: 20px;
}
#place-card .address {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 5px;
}
#place-card .directions {
  color: #3a84df;
}
@media (min-width: 400px) {
  #place-card {
    left: 90px;
  }
}
@media (min-width: 752px) {
  #place-card {
    top: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
